.myform {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
}

.submitbutton {
    color: black !important;
}

.cbtext {
    color: black !important;
}

body {
    background-color: #1f1f1f;
}

::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: #00e676;
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: #00e676;
  }